arjsv.so
*.o
Makefile
mkmf.log
.sitearchdir.time
.sitelibdir.time

node_eval.c
node_dispatch.c
node_dump.c
node_hash.c
node_specialize.c
node_replace.c
node_alloc.c
node_mark.c
node_head.h

code_store/
