[submodule "sample/naruby/prism"]
	path = sample/naruby/prism
	url = https://github.com/ruby/prism.git
[submodule "sample/wastro/testsuite"]
	path = sample/wastro/testsuite
	url = https://github.com/WebAssembly/testsuite.git
[submodule "sample/asom/SOM"]
	path = sample/asom/SOM
	url = https://github.com/SOM-st/SOM.git
[submodule "sample/asom/SOMpp"]
	path = sample/asom/SOMpp
	url = https://github.com/SOM-st/SOMpp.git
[submodule "sample/asom/TruffleSOM"]
	path = sample/asom/TruffleSOM
	url = https://github.com/SOM-st/TruffleSOM.git
[submodule "sample/asom/mx"]
	path = sample/asom/mx
	url = https://github.com/graalvm/mx.git
