# ASTroGen-generated sources
node_alloc.c
node_dispatch.c
node_dump.c
node_eval.c
node_hash.c
node_head.h
node_replace.c
node_specialize.c

# Build artifacts
pystro
code_store/
__pycache__/
pkg/
*.pyc
code_store/
cpython/
@test*

bench/macro/__pycache__/
